body{
    background-color: hsl(0, 0%, 8%);

    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main{
    background-color: hsl(0, 0%, 12%);

    width: 200px;
    height: 500px;
}